@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.chart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chart-wrapper canvas {
  max-width: 100%;
  max-height: 100%;
}
